{% extends "detail/base.html" %}

{% block bb %}
    <div class="container justify-content-around">
        <div class="row">
            <div class="col-md-6">
                <div class="card" style="width: 18rem; position:fixed;">
                    {% load staticfiles %}
                    <img src="{% static "shyryan.png" %}" class="card-img-top rounded-circle" alt="profile">
                    <div class="card-body">
                        <h4>Name</h4>
                        <h5 class="text-secondary">ssafy@gmail.com</h5>
                        <p class="card-text">Hello, Hi, Nice to meet you. My name is Ssafy. I'm a year old.</p>
                        <a href="#" class="card-link">Logout</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" style="width: 18rem;">
                    {% load staticfiles %}
                    <img src="{% static "apeach.png" %}" class="card-img-top" alt="detail">
                    <div class="card-body">
                        <h5 class="card-title">작성글</h5>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="card mb-6" style="width: 18rem;">
                    {% load staticfiles %}
                    <img src="{% static "apeach.png" %}" class="card-img-top" alt="detail">
                    <div class="card-body">
                        <h5 class="card-title">작성글</h5>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="card mb-6" style="width: 18rem;">
                    {% load staticfiles %}
                    <img src="{% static "apeach.png" %}" class="card-img-top" alt="detail">
                    <div class="card-body">
                        <h5 class="card-title">작성글</h5>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="card mb-6" style="width: 18rem;">
                    {% load staticfiles %}
                    <img src="{% static "apeach.png" %}" class="card-img-top" alt="detail">
                    <div class="card-body">
                        <h5 class="card-title">작성글</h5>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="card mb-6" style="width: 18rem;">
                    {% load staticfiles %}
                    <img src="{% static "apeach.png" %}" class="card-img-top" alt="detail">
                    <div class="card-body">
                        <h5 class="card-title">작성글</h5>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="card mb-6" style="width: 18rem;">
                    {% load staticfiles %}
                    <img src="{% static "apeach.png" %}" class="card-img-top" alt="detail">
                    <div class="card-body">
                        <h5 class="card-title">작성글</h5>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}